node_modules
build
.DS_Store
venv
*.pyc
*.zip
*.sqlite3
*.rdb
*.mo
.coverage
local_settings.py
static/
libs/
node_modules
.cache
coverage
media/
*.mo
.~lock*
robots.txt

# Deploy settings

deploy_settings.py
deploy_settings_local.sh
*.log
celerybeat-schedule*
*.pid

dist
