{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <p>login form</p>

    {% if form.errors %}
        <p>Your username and password didn't match.</p>
    {% else%}
        <p>ULogin here. If you don't have an account <a href="{% url "register" %}">register</a></p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'login' %}" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="text" value="{{ next }}" />
            <p><input type="submit" value="Log-in"></p>
        </form>

        <p><a href="{% url "password_reset" %}">Forgotten?</a></p>

    </div>

{% endblock %}
