{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    
    {% if validlink %}
        <p>Enter your new password twice:</p>
        <form action="" method="POST">
            {{ form.as_p }}
            <input type="submit" value="Change" />
            {% csrf token %}
        </form>
    <p>Use the form below to reset your password.</p>
    
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.</p>
        <p>Please request a new password reset.</p>
    {% endif %}
{% endblock %}
