<!DOCTYPE html>
<html>
    <head>
        <title>Todo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
        <script src="https://use.fontawesome.com/641c6fd3e0.js"></script>
        <style>
            .todo-wrapper .status {
                width: 30px;
                height: 30px;
                background: black;
            }
        </style>
    </head>
    <body class="grey lighten-4">