{% load static %}

<header>
    <nav class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo left">Todo</a>
            <ul id="nav-mobile" class="right">
                <li>
                    <a class="white-text" href="">voce1</a>
                </li>
                <li>
                    <a href="">voce2</a>
                </li>
                <li>
                    <a href="">voce3</a>
                </li>
                <li>
                    <a href="">voce4</a>
                </li>
            </ul>
        </div>                
    </nav>
</header>