{% extends "todolist/base.html"  %}
{% load static %}

{% block content %}
<main role="main">
    <div class="container">
        <div class="row">
            <div class="col s12 todo-wrapper">
                <div class="card materialize-red lighten-2">
                    <form action="#" class="card-content white-text">
                        <span class="card-title">Todo</span>

                        <div class="row">
                            <div class="col s2">
                                <button value="delete" class="waves-effect waves-light btn">Delete</button>
                            </div>
                            <div class="col s6">
                                Placeholderwqdsafwe wdewceac vavre fedi
                            </div>
                            <div class="col s4">
                                <div class="status">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}